<% include head %>
<title>Home</title>
</head><body>

<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>

<a href="/auth/google">Sign In</a>

<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<% } %>

