/* PANELS */

body,html{
    height:100%;
    width:100%;
    margin: 0; padding: 0;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#sidebar, #editor, #round{
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: rgb(170, 207, 231);
}

#editor{
  width: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#editor:focus, #round .tab-pane:focus {
  outline: 0px solid transparent;
}



/* SIDEBAR */

#sidebar{
  width: 15%;
      display:table;
    height:100%;
}



.btn-google-oauth {
    padding-left: 35px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABqElEQVRYw+2WzyuEQRjH3yhRIkpSXJTyP3BwFClxc3Fw2L04aw8cFMJBKaUkbEkOUtK27WHlsiUODsJh/cgeJO8BkSX29Z36vjU0Y+V9h7betz6H7XnfeT47M88zYzmOY/0nViAQCBSKQCkYB4fgBrw5nx8bhE0JNIMrsA7KSZSJX0G/yRkoBmn+66IvsX1KPIAqUwKDTLKriPVKSzBsSiDGBAeKmJiRR8ZXTAnsMMGtJn7G+LQpgVlpmrs1AjnQqvl+DmS8CNRxk4nnnBXgxmpAFmx+8/0aePZahu3gnhKiIgZAiEIJVopRAUE1iLD+jylzB8oU70bZmGwmz0m/bT9acUKq/1pFfAjESYZdMy7hWWBC2pinoP4vlqAE9IAxsAreJYlr0GhKoBIsc7r3wCQ7YCc4kiTSms0oliP5W4EGruELE6pmZUuS6PO7EW1z4Pk8g6T43ozfAm4DCv3wwBrxWyDLgRfyDBJhqTX5LZCkgBDp0rxTwY64aOIwEufABSXcZiKuXW2gA4xyky6ZvBGJVjsFTnj2i7b6BC7BBmgJruWBQMELfAB3Z3TRjcKyZwAAAABJRU5ErkJggg==');
}
.btn-google-oauth:after {
    content: "Sign in";
}

#controls{
  width: 100%;
  overflow: hidden;
  display: table-row;

}

#searchtext{
  height: 26px;
  padding-left:26px;
}

.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    opacity: .5;
   
}



/* FILETREE */

#filetree-container {
    display:table-row;
    height:100%;
}

#filetree-container-scroll {
    position: relative;
    height: 100%;
}
#filetree {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
}



.ft-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
.ft-list .ft-list .ft-name{
    padding-left: 20px;
}
.ft-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 100%;
}
.ft-name {
    display: inline-block;
    width: 100%;
}

.ft-name:hover {
    background: rgb(170, 207, 231);
}
.ft-dragged-over{
  color:  rgb(170, 207, 231);
}
.ft-being-dragged .ft-name {
    opacity: .5;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .8);
}

.ft-selected {
  background: rgb(170, 207, 231);
}


.ft-name>input{
  height: 15px;
  width: 15px;
  padding: 0px;
  background-color: #AFDFE7;
  border: 0px;
  cursor: pointer;
}

.folder:before{
  content: "\e117";
}

.file:before {
  content: "\e022";

   position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings', 'Tahoma';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


#filetree .heading-h1{
  padding-left: 10px;
}

#filetree .heading-h2{
  padding-left: 20px;
  font-size: 95%;
}

#filetree .heading-h3{
  padding-left: 30px;
  font-size: 85%;
  color: #222;
}

.ft-name.collapsed+.ft-list{
  display: none;
}



/* ROUND */

#round{
  width: 45%;
}
.tab-content{
    height: 90%;
}

#speech-tabs {
    height: 10%;
}



#round .tab-pane{
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    width: 100%;
}


#speech-tabs a{

    padding: 15px 5px;

}



#sidebyside{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAMAAADTRh9nAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTUyMkU2NTNGQTZBMTFFNEI4RkFEOTVDQzM5OTcxMTciIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTUyMkU2NTJGQTZBMTFFNEI4RkFEOTVDQzM5OTcxMTciIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ5REI0MTRBMUY3ODExRTQ5QTFFRjU2MEVBQ0ZFQTg5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQ5REI0MTRCMUY3ODExRTQ5QTFFRjU2MEVBQ0ZFQTg5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+pQggBAAAABhQTFRF4FJWsVrI+vrz0owzbLLrxzxIQ0PD////MBzaCQAAAAh0Uk5T/////////wDeg71ZAAAAUUlEQVR42ozQUQoAIQgEUBtn9f43XqNoTVpofoKHxqD4ITKeplA6uaMEwmzDiLKuF0R7euZ6D2OSC/3Dnz+RJ1EQGS8rjUa5kjGjLzxd6RVgADaPBsGq8A6hAAAAAElFTkSuQmCC');
  width: 40px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center center;
}



#speechmain input{
    margin: 3px;
     border-radius: 5px;
  border-width: 0px;
}


#speechmain{
    padding: 2%;

}


#roundcreate{
  width: 80%;
  margin-left: 10%;
}

#pastrounds{
    margin-top: 30px;
    max-height: 300px;
    overflow: scroll;
}

.flow-text{

    color:blue;
    font-weight: bold;
}





/* TIMER */

#speech-tabs{ width: 70%;}

#timer
{
    height: 60px;
    width: 120px;
    z-index: 99999;
    kbackground-color: #C6D9EE;
    font-weight: bold;
    font-family: arial;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0px; right: 0px;
    overflow: hidden;
}

#timer:hover
{
    height: 120px;
}

#timer:hover #timer-btn-container, #timer:hover #count{
  display: block ;
  height: 60px;
}



#btn-prep-container, #btn-times-container, #btn-play-container
{
    width: 33%;
    height: 100%;
    float: left;
}

#count{
	height: 100%;
	border: 0px;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	vertical-align: middle;
	qbackground-color: #97C2EE;
}



#btn-timer-aff, #btn-timer-neg
{
    font-size: 15pt;
    height: 50%;
    font-weight: bold;
}

#btn-timer-aff
{
    background-color: #0044C0;
}
#btn-timer-aff:hover
{
    background-color: #0051E6;
}
#btn-timer-neg
{
    background-color: #C00000;
}
#btn-timer-neg:hover
{
    background-color: #E60000;
}

#btn-play-container
{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: center center;
    width: 33%;
    float: left;
}



.play{
    border-top: 25px solid transparent;
    border-left: 35px solid blue;
    border-bottom: 25px solid transparent;
    border-right: 0px;
    box-sizing: border-box;
    margin-left: 5px;
}

.pause {

  background: red;
  height: 40px;
  position: relative;
  width: 7px;
  margin-left: 40%;
    margin-top: 20%
}
.pause:after {
  background: red;
  content: "";
  height: 40px;
  left: 10px;
  position: absolute;
  width: 7px;
}
